.bz-bottom-cta-section {
	padding-bottom: 115px;
}
.bz-bottom-cta-item {
	.bz-bottom-cta-icon {
		width: 65px;
		height: 65px;
		margin-right: 10px;
	}
	.bz-bottom-cta-text {
		h3 {
			color: #0F0F2D;
			font-size: 20px;
			font-weight: 500;
			padding-bottom: 5px;
		}
	}
}