@media screen and (max-width: 1750px) { 
	.bz-header-section.header-type-one {
		padding-right: 15px;
	}
	.bz-footer-section-2 .footer-shape1 {
		display: none;
	}
	.bz-service-section-2:before {
		width: 100px;
	}
	.bz-service-section-2 .bz-service-shape {
		left: 58px;
	}
	.bz-service-top-content-2 {
		max-width: 1000px;
	}
	.bz-service-section-2:before {
		display: none;
	}
}
@media screen and (max-width: 1600px) { 
	.bz-header-section.header-type-one .bz-brand-logo {
		margin-right: 20px;
	}
	.bz-testimonial-slider-area-2 .carousel_nav .testi-right_arrow {
		right: -35px;
	}
	.bz-testimonial-slider-area-2 .carousel_nav .testi-left_arrow {
		left: -10px;
	}
	.bz-testimonial-section-2 .bz-testimonial-btn {
		right: 15px;
	}
	.bz-service-section-2 {
		overflow: hidden;
	}
	.bz-service-section-2 .bz-service-img {
		right: -150px;
	}
	.bz-service-section-2 .bz-service-shape {
		left: -43px;
	}
	.bz-service-section-2 .bz-bottom-title {
		bottom: -85px;
	}
	.bz-service-section-2 {
		margin-bottom: 0;
	}
	.bz-counter-section {
		padding-bottom: 80px;
	}
}
@media screen and (max-width: 1500px) { 
	.bz-header-section .bz-sidebar-btn {
		margin-left: 10px;
	}
	.bz-header-section .bz-mabz-navigation-area li {
		margin: 0px 5px;
	}
	.bz-header-section.header-type-one .bz-brand-logo a {
		width: 190px;
	}
	.bz-header-section .bz-header-cta-btn {
		margin-left: 15px;
	}
	.bz-header-section .bz-header-cta-btn a {
		padding: 25px 25px;
	}
	.bz-header-section .bz-header-cta {
		margin-left: 15px;
	}
	.bz-header-section .bz-header-search {
		margin-left: 15px;
	}
	.bz-about-section .bz-about-img {
		right: 0;
	}
	.bz-about-year {
		z-index: 3;
	}
	.bz-growth-section .bz-growth-img {
		right: 35px;
	}
	.bz-team-section-2:before {
		display: none;
	}
	.bz-team-section-2 .bz-team-shape {
		left: 0;
	}
	.bz-testimonial-section-2 .bz-testimonial-shape {
		display: none;
	}
	.bz-testimonial-section-2 .bz-bottom-title {
		left: 15px;
	}
	.bz-project-complete-counter p {
		right: 0;
	}
	.bz-testimonial-slider-area-2 .carousel_nav button {
		position: static;
		margin: 0px 10px;
		transform: translateY(0);
	}
	.bz-testimonial-slider-area-2 .carousel_nav {
		display: flex;
		margin-top: 30px;
		justify-content: center;
	}
	.bz-testimonial-section-2 {
		padding-bottom: 200px;
		overflow: hidden;
	}
	.bz-contact-section:before {
		max-width: 610px;
	}
	.bz-testimonial-section-2 .bz-bottom-title {
		bottom: -85px;
		z-index: -1;
	}
}
@media screen and (max-width: 1340px) { 
	.bz-header-section .bz-header-cta {
		display: none;
	}
	.bz-header-section .bz-mabz-navigation-area li {
		margin: 0px 25px;
	}
	.bz-header-section .bz-mabz-navigation-area li a {
		padding: 5px 0px 40px;
		&:before,
		&:after {
			display: none;
		}
	}
	.bz-service-section-2 .bz-service-img {
		right: -250px;
	}

}
@media screen and (max-width: 1280px) { 
	.bz-main-slide-item-2:before {
		max-width: 50%;
	}
	.bz-main-slide-item-2 .bz-slider-shape1 {
		right: 11%;
	}
}
@media screen and (max-width: 1220px) { 
	.bz-service-section-2 .bz-service-img {
		display: none;
	}
	.bz-service-top-content-2 {
		max-width: 100%;
	}
	.bz-contact-section:before {
		max-width: 42%;
	}
	.bz-main-slide-item-2:before {
		display: none;
	}
	.bz-main-slide-item-2 .bz-slider-shape1 {
		display: none;
	}
	.bz-main-slide-item-2 {
		text-align: center;
	}
	.bz-main-slide-item-2 h1 {
		margin: 0 auto;
		padding-bottom: 60px;
	}
	.bz-slider-btn-grp {
		text-align: center;
		.bz-about-play-btn {
			justify-content: center;
		}
	}
	.bz-testimonial-section-2 .bz-bottom-title {
		left: -180px;
	}
}
@media screen and (max-width: 1150px) { 
	.bz-growth-section {
		overflow: hidden;
	}
	.bz-growth-section .bz-growth-img {
		right: -125px;
	}
	.bz-growth-section .bz-growth-circle-img {
		right: 0;
	}
	.bz-growth-section .bz-bottom-title {
		display: none;
	}
	.bz-header-section .bz-mabz-navigation-area li {
		margin: 0px 20px;
	}
	.bz-contact-section:before {
		display: none;
	}
	.bz-contact-section .bz-contact-shape2,
	.bz-contact-section .bz-contact-shape1,
	.bz-contact-section .bz-contact-shape3 {
		display: none;
	}
	.bz-contact-content {
		justify-content: center !important;
	}
}
@media screen and (max-width: 1099px) { 
	.bz-header-menu {
		display: none;
	}
	.bz-header-section .bz-header-cta-btn,
	.bz-header-section .bz-sidebar-btn {
		display: none;
	}
	.bz-header-section.header-type-one .bz-brand-logo a {
		height: 80px;
		width: 180px;
	}
	.bz-header-section .bz-header-search {
		margin-right: 40px;
	}
	.mobile_menu_button {
		display: inline-block;
	}
	.bz-about-section .bz-about-img {
		right: -170px;
	}
}
@media screen and (max-width: 1024px) { 
	.bz-growth-section .bz-growth-img {
		right: -300px;
	}
	.bz-service-item {
		padding: 30px 25px 45px 25px;
	}
	.bz-growth-section .bz-growth-list {
		display: none;
	}
	.bz-pricing-item {
		padding: 45px 20px 30px;
	}
	.bz-pricing-item .bz-price-plan-btn a {
		padding: 20px 30px;
	}
	.bz-counter-item .counter-icon {
		width: 50px;
		height: 50px;
	}
	.bz-portfolio-filter-tab .grid-size-50 {
		width: 100%;
	}
	.bz-portfolio-hos-tab-btn button {
		margin-left: 20px;
	}
	.bz-blog-item-2 {
		flex-wrap: wrap;
	}
	.bz-blog-item-2 .bz-blog-img {
		margin-bottom: 25px;
	}
	.bz-blog-item-2 .bz-blog-text h3 {
		padding-bottom: 15px;
	}
	.bz-testimonial-section-2 .bz-bottom-title {
		display: none;
	}
	.bz-testimonial-section-2 .bz-testimonial-btn {
		text-align: center;
		margin-top: 40px;
		position: static !important;
	}
	.bz-testimonial-section-2 {
		padding-bottom: 0px;
	}
	.bz-blog-section-2 {
		padding-top: 100px;
	}
}
@media screen and (max-width: 991px) { 
	.bz-bottom-cta-item {
		margin-bottom: 25px;
	}
	.bz-footer-widget {
		margin-bottom: 40px;
	}
	.bz-footer-widget .menu-widget {
		padding-left: 0;
	}
	.bz-about-section .bz-about-img {
		display: none;
	}
	.bz-counter-item  {
		margin-bottom: 20px;
	}
	.bz-pricing-item {
		margin-bottom: 70px;
	}
	.bx-about-exp-img {
		text-align: center;
		margin-bottom: 50px;
	}
	.bz-about-text-wrap-2 {
		margin: 0 auto;
		max-width: 570px;
	}
	.bz-portfolio-top-content {
		flex-wrap: wrap;
	}
	.bz-team-slider-area {
		margin-top: 40px;
	}
	.bz-blog-item-2 {
		margin: 0 auto;
		max-width: 670px;
		margin-bottom: 40px;
	}
	.bz-footer-menu li {
		margin: 0px 10px;
		a {
			padding: 0px;
		}
	}
	.bz-footer-menu li a:before,
	.bz-footer-menu li a:after {
		display: none;
	}
	.bz-blog-top-content {
		flex-wrap: wrap;
	}
	.bz-footer-newslateer-2 button {
		top: auto;
		width: 75px;
		height: 75px;
		bottom: 60px;
	}
	.bz-service-top-content-2 {
		flex-wrap: wrap;
	}
	.bz-service-top-content-2 .bz-section-title {
		margin-bottom: 25px;
	}
	.bz-blog-section-2 {
		padding-bottom: 50px;
	}
	.bz-contact-cta-text {
		margin-top: 30px;
		margin-left: 0;
	}
	.bz-contact-form-area {
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 850px) { 
	.bz-growth-section .bz-growth-img {
		display: none;
	}
	.bz-service-section-2 .bz-bottom-title {
		display: none;
	}
	.bz-portfolio-section .bz-section-title {
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 767px) { 
	.bz-service-title-text .bz-section-title {
		padding-bottom: 40px;
	}
	.bz-service-title-text {
		padding-top: 0;
		padding-bottom: 40px;
	}
	.bz-blog-item {
		margin: 0 auto;
	}
	.bz-bottom-cta-item {
		justify-content: center;
	}
	.bz-footer-cta-content {
		flex-wrap: wrap;
		.bz-section-title {
			padding-bottom: 30px;
		}
	}
	.bz-about-circle-progress {
		.counter-boxed {
			margin-bottom: 20px;
		}
	}
	.bz-pricing-top-content {
		flex-wrap: wrap;
	}
	.bz-project-complete-counter h3 {
		font-size: 80px;
	}
	.bz-project-complete-text {
		font-size: 20px;
		line-height: 30px;
		margin-right: 30px;
	}
	.bz-project-complete-counter p {
		bottom: 0;
	}
	.bz-footer-menu-area {
		flex-wrap: wrap;
		padding: 20px 0px;
		justify-content: center !important;
	}
	.bz-footer-menu-area .bz-brand-logo {
		max-width: 100%;
		margin-bottom: 20px;
		a {
			max-width: 135px;
			display: inline-block;
		}
	}
	.bz-footer-menu {
		width: 100%;
		margin-bottom: 20px;
	}
	.bz-main-slide-item-2 .bz-slider-shape2 {
		display: none;
	}
	.bz-team-section-2 .bz-bottom-title {
		display: none;
	}
	.bz-team-section-2 .bz-team-shape {
		display: none;
	}
	.bz-team-section-2 .bz-team-shape2 {
		display: none;
	}
	.bz-contact-btn-cta {
		flex-wrap: wrap;
	}
	.bz-portfolio-filter-feed-tab .grid-size-50 {
		width: 50%;
	}
	.bz-blog-share-tag {
		flex-wrap: wrap;
	}
	.blog-hash-tag {
		margin-bottom: 30px;
	}
	.bz-blog-author {
		flex-wrap: wrap;
	}
	.bz-blog-author .inner-img {
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 680px) { 
	.bz-about-year {
		display: none;
	}
	.bz-testimonial-item .bz-testimonial-text {
		font-size: 18px;
		line-height: 35px;
	}
	.bz-testimonial-item {
		padding: 90px 30px 30px;
	}
	.bz-blog-top-content {
		flex-wrap: wrap;
	}
	.bz-blog-top-content .bz-section-title {
		padding-bottom: 30px;
	}
	.bz-pricing-top-content .bz-section-title {
		padding-bottom: 20px;
	}
	.bz-main-slide-item-2 h1 {
		font-size: 40px;
		line-height: 55px;
	}
	.bz-expericne-gallery-section {
		display: none;
	}
	.bz-project-complete-section {
		padding: 60px 0px;
	}
	.bz-project-complete-content {
		flex-wrap: wrap;
	}
	.bz-contact-btn-cta .bz-contact-location {
		margin-bottom: 25px;
	}
	.bz-breadcrumb-content {
		padding: 180px 0px 100px;
	}
	.bz-breadcrumb-content .bz-bread-side-shape {
		display: none;
	}
	.bz-breadcrumb-content h2 {
		font-size: 30px;
	}
	.bz-breadcrumb-content .bz-bread-side-shape2 {
		display: none;
	}
	.bz-about-content-wrapper .bz-about-circle-img {
		display: none;
	}
	.bz-portfolio-filter-feed-tab .grid-size-50 {
		width: 100%;
	}
	.bz-project-details-text h4 {
		font-size: 22px;
	}
	.bz-project-details-text h3 {
		font-size: 24px;
	}
	.bz-blog-feed-area .bz-blog-item .blog-meta-text h3 {
		font-size: 24px;
	}
	.bz-blog-sidebar {
		margin-left: 0;
	}
	.blog-details-text-img-area .bz-blog-item .blog-meta-text h2 {
		font-size: 24px;
	}
	.blog-details-text-img-area p {
		padding-top: 15px;
	}
	.blog-details-text-img-area .blog-details-img-wrap img {
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 480px) { 
	.bz-section-title h2 {
		font-size: 28px;
		line-height: 36px;
	}
	.bz-about-text-area {
		margin-top: 10px;
	}
	.bz-about-btn-sign {
		flex-wrap: wrap;
		margin-top: 30px;
		.bz-btn {
			margin-right: 15px;
		}
	}
	.bz-about-btn-sign .bz-about-sign {
		margin-left: 0;
		margin-top: 25px;
	}
	.bz-about-section {
		padding: 60px 0px;
	}
	.bz-counter-item .counter-text h3 {
		font-size: 30px;
		line-height: 30px;
	}
	.bz-about-section .bz-about-shape1,
	.bz-about-section .bz-about-shape2 {
		display: none;
	}
	.bz-counter-section {
		padding: 60px 0px 80px;
	}
	.bz-counter-content {
		padding-top: 50px;
	}
	.bz-service-section {
		padding-bottom: 60px;
	}
	.bz-growth-section {
		padding: 80px 0px;
	}
	.bz-growth-section .bz-growth-shape1 {
		display: none;
	}
	.bz-journey-section {
		padding: 60px 0px;
	}
	.bz-journey-item {
		width: 300px;
		height: 300px;
		padding-top: 25px;
	}
	.bz-journey-item:before {
		width: 280px;
		height: 280px;
	}
	.bz-journey-item .journey-text p {
		max-width: 270px;
	}
	.bz-journey-slider .slick-current.slick-active.slick-center .bz-journey-item .journey-icon {
		top: 30px;
	}
	.bz-journey-item .journey-text h3 {
		padding-bottom: 10px0;
	}
	.bz-btn a, .bz-btn-2 a {
		padding: 20px 70px 20px 25px;
	}
	.bz-btn a i, .bz-btn-2 a i {
		top: 10px;
		right: 10px;
	}
	.bz-blog-section {
		padding-bottom: 70px;
	}
	.bz-bottom-cta-section {
		padding-bottom: 40px;
	}
	.bz-footer-widget-content-area {
		padding: 60px 0px 20px;
	}
	.bz-footer-copyright {
		flex-wrap: wrap;
		justify-content: center;
	}
	.bz-footer-copyright-text {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.bz-footer-copyright-menu {
		width: 100%;
		text-align: center;
	}
	.bz-blog-item .blog-meta-text h3 {
		font-size: 18px;
		line-height: 26px;
	}
	.bz-footer-cta-content .bz-section-title h2 {
		font-size: 28px;
	}
	.bz-main-slide-item-2 h1 {
		font-size: 30px;
		line-height: 40px;
	}
	.bz-slider-btn-grp .bz-about-play-btn {
		flex-wrap: wrap;
		.bz-play-btn {
			margin-top: 30px;
		}
	}
	.bz-about-play-btn .bz-btn-2 {
		margin-right: 0;
	}
	.bz-slider-content .carousel_nav  {
		display: none;
	}
	.bz-main-slide-item-2 {
		padding: 190px 0px 95px;
	}
	.bz-about-text-wrap-2 {
		margin-top: 40px;
	}
	.bz-about-text-wrap-2 {
		.bz-about-play-btn {
			flex-wrap: wrap;
		}
		.bz-play-btn {
			margin-top: 20px;
		}
	}
	.bz-about-section-2 {
		padding-bottom: 70px;
	}
	.bz-service-top-content-2 .bz-section-title p:before {
		height: 70%;
	}
	.bz-service-list-area-2 li {
		width: 100%;
	}
	.bz-portfolio-hos-tab-btn button {
		margin-left: 0;
		margin-right: 10px;
	}
	.bz-portfolio-item2 {
		.bz-portfolio-img-text {
			flex-wrap: wrap;
		}
	}
	.bz-portfolio-item2 .bz-portfolio-img {
		margin-bottom: 30px;
	}
	.bz-sponso-section-2 {
		padding-bottom: 60px;
	}
	.bz-team-section-2 {
		padding: 70px 0px 60px;
	}
	.bz-contact-img-cta .bz-cta-text span {
		font-size: 20px;
	}
	.bz-contact-img-cta .bz-cta-img {
		margin-bottom: 20px;
	}
	.bz-contact-img-cta {
		padding-bottom: 40px;
	}
	.bz-contact-btn-cta .bz-contact-location h3 {
		font-size: 18px;
		padding-bottom: 10px;
	}
	.bz-contact-section {
		padding-bottom: 60px;
	}
	.bz-footer-newslateer-2 h3 {
		font-size: 26px;
		line-height: 30px;
	}
	.bz-footer-section-2 {
		padding-top: 60px;
	}
	.bz-sponsor-slider {
		margin-top: 0;
	}
	.bz-testimonial-section {
		padding-bottom: 80px;
	}
}